   # Python
   __pycache__/
   *.pyc

   # Virtual environments
   venv/
   .venv/

   # Notebook and editor files
   .ipynb_checkpoints/
   .vscode/

   # Operating system files
   .DS_Store
   Thumbs.db